## <font color='red'> 2) Given the following confusion matrix, evaluate (by hand) the model's performance.

|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

### In the context of this problem, what is a false positive?
- Predict Dog and IS Actual Cat
### In the context of this problem, what is a false negative?
- Predict Cat and IS Actual Dog
### How would you describe this model?
- 86.7% precise for dog (TP/TP + FP), 82.9% pricise for cat. This is better at predicting dog.

# <font color = 'red'> 3) C3 Rubber Duck Manufacturing

- Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions is in c3.csv.
- Use the predictions dataset and pandas to help answer the following questions:

### 1) An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. 

### TP: Defective Duck is Defective
### TN: Non-Defective Duck is Not Defective
### FP: Defective Duck is Not Defective
### FN: Non-Defective Duck is Defective

In [6]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('c3.csv')
df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [21]:
# id most frequent label in the actiual dataset to create baseline. "No Defect" is most frequent
df.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [22]:
df['baseline_prediction'] = 'No Defect'
df.head()

      actual     model1  model2     model3 baseline_prediction
0  No Defect  No Defect  Defect  No Defect           No Defect
1  No Defect  No Defect  Defect     Defect           No Defect
2  No Defect  No Defect  Defect  No Defect           No Defect
3  No Defect     Defect  Defect     Defect           No Defect
4  No Defect  No Defect  Defect  No Defect           No Defect

In [25]:
# Get Accuracy for Model and Baseline
model1_accuracy = (df.actual == df.model1).mean()
model2_accuracy = (df.actual == df.model2).mean()
model3_accuracy = (df.actual == df.model3).mean()
baseline_accuracy = (df.actual == df.baseline_prediction).mean()
model1_accuracy, model2_accuracy, model3_accuracy, baseline_accuracy

(0.95, 0.56, 0.555, 0.92)

In [29]:
subset = df[df.actual == 'Defect']
subset

     actual     model1     model2     model3 baseline_prediction
13   Defect  No Defect     Defect     Defect           No Defect
30   Defect     Defect  No Defect     Defect           No Defect
65   Defect     Defect     Defect     Defect           No Defect
70   Defect     Defect     Defect     Defect           No Defect
74   Defect  No Defect  No Defect     Defect           No Defect
87   Defect  No Defect     Defect     Defect           No Defect
118  Defect  No Defect     Defect  No Defect           No Defect
135  Defect     Defect  No Defect     Defect           No Defect
140  Defect  No Defect     Defect     Defect           No Defect
147  Defect     Defect  No Defect     Defect           No Defect
163  Defect     Defect     Defect     Defect           No Defect
171  Defect  No Defect     Defect     Defect           No Defect
176  Defect  No Defect     Defect     Defect           No Defect
186  Defect  No Defect  No Defect  No Defect           No Defect
194  Defect     Defect  No Defect     Defect           No Defect
196  Defect     Defect  No Defect  No Defect           No Defect

In [53]:
# Get Recall for Model and Baseline
model1_recall = (subset.actual == subset.model1).mean()
model2_recall = (subset.actual == subset.model2).mean()
model3_recall = (subset.actual == subset.model3).mean()
baseline_recall = (subset.actual == subset.baseline_prediction).mean()

model1_recall, model2_recall, model3_recall, baseline_recall

(0.5, 0.5625, 0.8125, 0.0)

In [36]:
# Get Precision by making Subset for Model 1 == Defect
m1_subset = df[df.model1 == 'Defect']
m1_subset

        actual  model1     model2     model3 baseline_prediction
3    No Defect  Defect     Defect     Defect           No Defect
30      Defect  Defect  No Defect     Defect           No Defect
62   No Defect  Defect  No Defect  No Defect           No Defect
65      Defect  Defect     Defect     Defect           No Defect
70      Defect  Defect     Defect     Defect           No Defect
135     Defect  Defect  No Defect     Defect           No Defect
147     Defect  Defect  No Defect     Defect           No Defect
163     Defect  Defect     Defect     Defect           No Defect
194     Defect  Defect  No Defect     Defect           No Defect
196     Defect  Defect  No Defect  No Defect           No Defect

In [46]:
# Get Precision for Models 1
m1_precision = (m1_subset.actual == m1_subset.model1).mean()
m1_precision

0.8

In [38]:
# Get Subset for Model 2 == Defect
m2_subset = df[df.model2 == 'Defect']
m2_subset

        actual     model1  model2     model3 baseline_prediction
0    No Defect  No Defect  Defect  No Defect           No Defect
1    No Defect  No Defect  Defect     Defect           No Defect
2    No Defect  No Defect  Defect  No Defect           No Defect
3    No Defect     Defect  Defect     Defect           No Defect
4    No Defect  No Defect  Defect  No Defect           No Defect
..         ...        ...     ...        ...                 ...
183  No Defect  No Defect  Defect  No Defect           No Defect
185  No Defect  No Defect  Defect  No Defect           No Defect
193  No Defect  No Defect  Defect     Defect           No Defect
195  No Defect  No Defect  Defect     Defect           No Defect
198  No Defect  No Defect  Defect     Defect           No Defect

[90 rows x 5 columns]

In [47]:
# Get Precision for Model 2
m2_precision = (m2_subset.actual == m2_subset.model2).mean()
m2_precision

0.1

In [40]:
# Get Subset for Model 3 == Defect
m3_subset = df[df.model3 == 'Defect']
m3_subset

        actual     model1     model2  model3 baseline_prediction
1    No Defect  No Defect     Defect  Defect           No Defect
3    No Defect     Defect     Defect  Defect           No Defect
5    No Defect  No Defect  No Defect  Defect           No Defect
9    No Defect  No Defect  No Defect  Defect           No Defect
13      Defect  No Defect     Defect  Defect           No Defect
..         ...        ...        ...     ...                 ...
193  No Defect  No Defect     Defect  Defect           No Defect
194     Defect     Defect  No Defect  Defect           No Defect
195  No Defect  No Defect     Defect  Defect           No Defect
198  No Defect  No Defect     Defect  Defect           No Defect
199  No Defect  No Defect  No Defect  Defect           No Defect

[99 rows x 5 columns]

In [48]:
# Get Precision for Model 3
m3_precision = (m3_subset.actual == m3_subset.model3).mean()
m3_precision

0.13131313131313133

In [42]:
# Get Subset for Baseline == Defect
bp_subset = df[df.baseline_prediction == 'Defect']
bp_subset

Empty DataFrame
Columns: [actual, model1, model2, model3, baseline_prediction]
Index: []

In [50]:
# Get Precision for Baseline
bp_precision = (bp_subset.actual == bp_subset.baseline_prediction).mean() #because baseline is set to 'No Defect'
bp_precision

nan

In [51]:
m1_precision, m2_precision, m3_precision

(0.8, 0.1, 0.13131313131313133)

### Which evaluation metric would be appropriate here?
- Recall to minimize FN

### Which model would be the best fit for this use case?
- Model 3 has the best fit for Recall metric

### 2) Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect.

### Which evaluation metric would be appropriate here? 
- FP: Predict Defective Duck that is Not Defective (Better to predict Defect Ducks than to pay for trips)
- FN: Predict Not Defective Duck that is Defective
- Use Precision metric to minimize FP

### Which model would be the best fit for this use case?
- model 2 has the best fit (80%)

# <font color = 'red'> Exercise 4) Give You Paws

- You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).
- At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).
- Several models have already been developed with the data, and you can find their results here.

In [7]:
# Acquire Data for Give You Paws
df_paws = pd.read_csv('gives_you_paws.csv')
df_paws.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

### Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In [62]:
# find most frequent label to create baseline. Dog is most frequent.
df_paws.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [8]:
# Create baseline set for dog
df_paws['baseline'] = 'dog'
df_paws.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      dog
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
4    cat    cat    cat    dog    dog      dog

### <font color = 'red'> In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [27]:
m1_accuracy = (df_paws.actual == df_paws.model1).mean()
m2_accuracy = (df_paws.actual == df_paws.model2).mean()
m3_accuracy = (df_paws.actual == df_paws.model3).mean()
m4_accuracy = (df_paws.actual == df_paws.model4).mean()
b_accuracy = (df_paws.actual == df_paws.baseline).mean()
m1_accuracy, m2_accuracy, m3_accuracy, m4_accuracy, b_accuracy

(0.8074, 0.6304, 0.5096, 0.7426, 0.6508)

#### Model 1 and Model 4 are better than the Baseline

### Suppose you are working on a team that solely deals with dog pictures.   (should have used Recall to find best model)

In [82]:
m1_b_accuracy = (df_paws.baseline == df_paws.model1).mean()
m2_b_accuracy = (df_paws.baseline == df_paws.model2).mean()
m3_b_accuracy = (df_paws.baseline == df_paws.model3).mean()
m4_b_accuracy = (df_paws.baseline == df_paws.model4).mean()
m1_b_accuracy, m2_b_accuracy, m3_b_accuracy, m4_b_accuracy

(0.5874, 0.3576, 0.5016, 0.8506)

### <font color = 'red'> 1) Which of these models would you recomend for Phase I? 
- Model 4 has best accuracy fit to baseline which is set to dogs

### <font color = 'red'>2) For Phase II?
- Use Precision Metric to ensure No cats are in group: Model 1 or Model 2

In [55]:
# Create Subsets for Precision across all models
m1_subset = df_paws[df_paws.model1 == 'dog'] 
m2_subset = df_paws[df_paws.model2 == 'dog'] 
m3_subset = df_paws[df_paws.model3 == 'dog'] 
m4_subset = df_paws[df_paws.model4 == 'dog']

In [57]:
# Get Precision Metric
m1_precision = (m1_subset.actual == m1_subset.model1).mean()
m2_precision = (m1_subset.actual == m1_subset.model2).mean()
m3_precision = (m1_subset.actual == m1_subset.model3).mean()
m4_precision = (m1_subset.actual == m1_subset.model4).mean()

m1_precision, m2_precision, m3_precision, m4_precision

(0.8900238338440586, 0.5321756894790602, 0.505277494041539, 0.8838951310861424)

### <font color = 'red'> Suppose you are working on a team that solely deals with cat pictures.

In [28]:
### Create baseline set for dog
df_paws['baseline'] = 'cat'
df_paws.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      cat
1    dog    dog    cat    cat    dog      cat
2    dog    cat    cat    cat    dog      cat
3    dog    dog    dog    cat    dog      cat
4    cat    cat    cat    dog    dog      cat

In [29]:
m1_b_accuracy = (df_paws.baseline == df_paws.model1).mean()
m2_b_accuracy = (df_paws.baseline == df_paws.model2).mean()
m3_b_accuracy = (df_paws.baseline == df_paws.model3).mean()
m4_b_accuracy = (df_paws.baseline == df_paws.model4).mean()
m1_b_accuracy, m2_b_accuracy, m3_b_accuracy, m4_b_accuracy

(0.4126, 0.6424, 0.4984, 0.1494)

### Which of these models would you recomend for Phase I? 
- Model 2 since it as the highest accuracy fit to baseline set to Cat

### For Phase II?
- Model 2 since it provides highest precision to cat

In [66]:
# Create Subsets for Precision across all models
m1_subset = df_paws[df_paws.model1 == 'cat'] 
m2_subset = df_paws[df_paws.model2 == 'cat'] 
m3_subset = df_paws[df_paws.model3 == 'cat'] 
m4_subset = df_paws[df_paws.model4 == 'cat']

In [67]:
# Get Precision Metric
m1_precision = (m1_subset.actual == m1_subset.model1).mean()
m2_precision = (m1_subset.actual == m1_subset.model2).mean()
m3_precision = (m1_subset.actual == m1_subset.model3).mean()
m4_precision = (m1_subset.actual == m1_subset.model4).mean()

m1_precision, m2_precision, m3_precision, m4_precision

(0.6897721764420747,
 0.7702375181774115,
 0.5157537566650509,
 0.5414444983034415)

# <font color = 'red'> Exercise 5) Apply Functions

Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.

- sklearn.metrics.accuracy_score
- sklearn.metrics.precision_score
- sklearn.metrics.recall_score
- sklearn.metrics.classification_report

In [30]:
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report

### Use accuracy_score

In [31]:
# Model 1 Accuracy Score
y_true = df_paws.actual
y_pred = df_paws.model1

accuracy_score(y_true, y_pred)

0.8074

In [32]:
# Model 2 Accuracy Score
y_true = df_paws.actual
y_pred = df_paws.model2

accuracy_score(y_true, y_pred)

0.6304

In [33]:
# Model 3 Accuracy Score
y_true = df_paws.actual
y_pred = df_paws.model3

accuracy_score(y_true, y_pred)

0.5096

In [34]:
# Model 4 Accuracy Score
y_true = df_paws.actual
y_pred = df_paws.model4

accuracy_score(y_true, y_pred)

0.7426

### Use Recall_Score

In [35]:
# Use Recall_Score Function by setting subset y_true (Actual) to dog
subset = df_paws[df_paws.actual == 'dog']
subset.head()

  actual model1 model2 model3 model4 baseline
1    dog    dog    cat    cat    dog      cat
2    dog    cat    cat    cat    dog      cat
3    dog    dog    dog    cat    dog      cat
5    dog    dog    dog    dog    dog      cat
8    dog    dog    cat    dog    dog      cat

In [38]:
# Model 2 Recall Score
y_true = subset.actual
y_pred = subset.model1

recall_score(y_true, y_pred, average='micro')

0.803318992009834

In [39]:
# Model 2 Recall Score
y_true = subset.actual
y_pred = subset.model2

recall_score(y_true, y_pred, average='micro')

0.49078057775046097

In [40]:
# Model 3 Recall Score
y_true = subset.actual
y_pred = subset.model3

recall_score(y_true, y_pred, average='micro')

0.5086047940995697

In [41]:
# Model 4 Recall Score
y_true = subset.actual
y_pred = subset.model4

recall_score(y_true, y_pred, average='micro')

0.9557467732022127

### Use Precision_Score

In [43]:
# Create Subsets for Precision across all models
m1_subset = df_paws[df_paws.model1 == 'dog'] 
m2_subset = df_paws[df_paws.model2 == 'dog'] 
m3_subset = df_paws[df_paws.model3 == 'dog'] 
m4_subset = df_paws[df_paws.model4 == 'dog']

In [62]:
# Model 1 Precision Score
y_true = m1_subset.actual
y_pred = m1_subset.model1

recall_score(y_true, y_pred, average='micro')

0.8900238338440586

In [63]:
# Model 2 Precision Score
y_true = m2_subset.actual
y_pred = m2_subset.model2

recall_score(y_true, y_pred, average='micro')

0.8931767337807607

In [64]:
# Model 3 Precision Score
y_true = m3_subset.actual
y_pred = m3_subset.model3

recall_score(y_true, y_pred, average='micro')

0.6598883572567783

In [65]:
# Model 4 Precision Score
y_true = m4_subset.actual
y_pred = m4_subset.model4

recall_score(y_true, y_pred, average='micro')

0.7312485304490948

### Use Classification_Report

In [51]:
# Model 1 Classification Report
y_true = df_paws.actual
y_pred = df_paws.model1

print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

         cat       0.69      0.82      0.75      1746
         dog       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000

In [52]:
# Model 2 Classification Report
y_true = df_paws.actual
y_pred = df_paws.model2

print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

         cat       0.48      0.89      0.63      1746
         dog       0.89      0.49      0.63      3254

    accuracy                           0.63      5000
   macro avg       0.69      0.69      0.63      5000
weighted avg       0.75      0.63      0.63      5000

In [53]:
# Model 3 Classification Report
y_true = df_paws.actual
y_pred = df_paws.model3

print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

         cat       0.36      0.51      0.42      1746
         dog       0.66      0.51      0.57      3254

    accuracy                           0.51      5000
   macro avg       0.51      0.51      0.50      5000
weighted avg       0.55      0.51      0.52      5000

In [54]:
# Model 4 Classification Report
y_true = df_paws.actual
y_pred = df_paws.model4

print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

         cat       0.81      0.35      0.48      1746
         dog       0.73      0.96      0.83      3254

    accuracy                           0.74      5000
   macro avg       0.77      0.65      0.66      5000
weighted avg       0.76      0.74      0.71      5000