# Exercise 1 - Attendance Data

### 1) Load the attendance.csv

In [3]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv('untidy_data/attendance.csv')
df = df.rename(columns={'Unnamed: 0':'name'})
df

,name,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
0,Sally,P,T,T,H,P,A,T,T
1,Jane,A,P,T,T,T,T,A,T
2,Billy,A,T,A,A,H,T,P,T
3,John,P,T,H,P,P,T,P,P

### 2) file and calculate an attendnace percentage for each student. 
- Note: One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

In [24]:
df = df.melt(id_vars='name', var_name='date', value_name='attendance')
df

     name        date attendance
0   Sally  2018-01-01          P
1    Jane  2018-01-01          A
2   Billy  2018-01-01          A
3    John  2018-01-01          P
4   Sally  2018-01-02          T
5    Jane  2018-01-02          P
6   Billy  2018-01-02          T
7    John  2018-01-02          T
8   Sally  2018-01-03          T
9    Jane  2018-01-03          T
10  Billy  2018-01-03          A
11   John  2018-01-03          H
12  Sally  2018-01-04          H
13   Jane  2018-01-04          T
14  Billy  2018-01-04          A
15   John  2018-01-04          P
16  Sally  2018-01-05          P
17   Jane  2018-01-05          T
18  Billy  2018-01-05          H
19   John  2018-01-05          P
20  Sally  2018-01-06          A
21   Jane  2018-01-06          T
22  Billy  2018-01-06          T
23   John  2018-01-06          T
24  Sally  2018-01-07          T
25   Jane  2018-01-07          A
26  Billy  2018-01-07          P
27   John  2018-01-07          P
28  Sally  2018-01-08          T
29   Jane  2018-01-08          T
30  Billy  2018-01-08          T
31   John  2018-01-08          P

# Exercise 2 - Coffee Levels

### 1) Read the coffee_levels.csv file.
### 2) Transform the data so that each carafe is in it's own column.
### 3) Is this the best shape for the data?

# Exercise 3 - Cake Recipes

### 1) Read the cake_recipes.csv data. 
#### Note) This data set contains cake tastiness scores for combinations of different recipes, oven rack positions, and oven temperatures.

### 2) Tidy the data as necessary.

### 3) Which recipe, on average, is the best?
#### answer: recipe b

### 4) Which oven temperature, on average, produces the best results?
#### answer: 275

### 5) Which combination of recipe, rack position, and temperature gives the best result?
#### answer: recipe b, bottom rack, 300 degrees